<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1> Welcome to {{.title}} </h1>

    <a href="/">home</a>
    <a href="/login">login</a>
    <a href="/logout">logout</a>
    <a href="/signup">signup</a>

    <p>Time: {{.time}}</p>

    <table>
        <tr>
            <td>Username</td><td>:</td>
            <td>{{.user.Username}}</td>
        </tr>

        <tr>
            <td>E-mail</td><td>:</td>
            <td>{{.user.Email}}</td>
        </tr>
    </table>

</body>
</html>